:root{
    --atender: aqua;
    --claro: #f7baba;
    --mono: 'Courier New', Courier, monospace;
}
/*reset*/
*{
    margin: 0;
    padding: 0;
}
/*elemento root*/
*,*::before, *::after{
    box-sizing: border-box;
}
span:first-child{
    text-decoration: underline;
    color: var(--atender);

}
body{
    background-color: var(--claro);
}

kbd{
    color:  darkmagenta;
    font-family: var(--mono);
}