
:root{
    --atender: aqua;
    --claro: #f7baba;
    --mono: 'Courier New', Courier, monospace;
}

span:first-child{
    text-decoration: underline;
    color: var(--atender);

}
body{
    background-color: var(--claro);
}

kbd{
    color:  darkmagenta;
    font-family: var(--mono);
}